* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    width: 100%;
}

#navigation {
    padding: 20px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    background-color: #f3f4f6;
    box-shadow: 0 0px 5px black;
    top: 0;
    left: 0;
    z-index: 999;
}

.logo a h1 {
    color: black;
    text-decoration: none;
    font-weight: bold;
    border-bottom: 4px solid #FF5F1F;
    display: inline-block;
    font-size: 40px;
    letter-spacing: 0.2px;
    transition: 0.3s ease;
}

.logo a h1:hover {
    color: #FF5F1F;
}

#navbar li {
    list-style: none;
    display: inline-block;
    padding: 0 20px;
}

#navbar li a {
    display: flex;
    margin: 5px;
    color: black;
    text-decoration: none;
    font-size: 25px;
    font-weight: 600;
    transition: 0.3s ease;
}

#navbar li a:hover {
    color: #FF5F1F;
}

#navbar li #active {
    color: #FF5F1F;
}

/* Feature Products scroll */

.padding {
    padding: 40px 80px;
}

#product1 {
    text-align: center;
}

.container2 {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    height: 500px;
    overflow-x: scroll;
    gap: 2rem;
}

.item {
    width: 24%;
    min-width: 300px;
    border: 1px solid #cce7d0;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0px 1px 2px black;
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
    height: 90%;
}

.item:hover {
    box-shadow: 0px 1px 3px #FF5F1F;
}

.item img {
    width: 220px;
    height: 300px;
    object-fit: contain;
    object-position: center;
    padding: 20px;
}

.item .des {
    text-align: start;
    padding: 10px 16px;
}

.item .des span {
    color: #606063;
    font-size: 16px;
}

.item .des h5 {
    font-size: 20px;
    padding-top: 7px;
    color: #1a1a1a;
}

.item .des h4 {
    padding-top: 7px;
    font-size: 20px;
    font-weight: 600;
    color: #FF5F1F
}


#cart {
    cursor: pointer;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    box-shadow: 0px 1px 3px black;
    background-color: white;
    color: #FF5F1F;
    font-size: 20px;
    transition: ease 0.3s;
    position: absolute;
    bottom: 20px;
    right: 10px
}

#cart:hover {
    background-color: #FF5F1F;
    color: white;
}



/* catalogs */

#catalogues {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px 50px 0px;
    flex-direction: column;
}

.Heading {
    font-weight: 600;
    padding: 2px 20px;
    margin: 20px 0px;
}

.catalogues-container {
    display: flex;
    margin: auto;
    width: 1200px;
    justify-content: space-evenly;
    padding: 20px;
    border: 1px solid #cce7d0;
    box-shadow: 0px 1px 2px black;
    border-radius: 20px;
    background-color: white;
}

.catalogues-box {
    position: relative;
    padding: 20px;
    text-decoration: none;
}

.catalogues-box img {
    width: 220px;
    height: 220px;
    object-fit: contain;
    object-position: center;
    padding: 20px;
    overflow: hidden;
    border: 2px solid #cce7d0;
    transition: all ease 0.3s;
    border-radius: 20px;
    box-shadow: 0px 1px 1px black;
}

.catalogues-box span {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    color: black;
    text-transform: uppercase;
    padding-top: 10px;
    font-size: 20px
}

.catalogues-box:hover img {
    transform: scale(1.02);
    transition: ease-in 0.2s;
    border: 1px outset #FF5F1F;
}

/*Shoppingcart*/
#catalogues-container2 {
    display: flex;
    margin: auto;
    width: 1200px;
    justify-content: space-evenly;
    padding: 20px;
    box-shadow: 0 0 3px black;
    border-radius: 15px;
    background-color: #f5f5f544;
    margin-top: 20px;
}

#cartItems {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.button {
    color: white;
    font-size: 40px;
    font-weight: bold;

    background-color: #FF5F1F;
    border-radius: 15px;
    position: relative;
    top: 150px;
    left: 1095px;
    padding: 25px 45px;
    transition-duration: 0.4s;
}

.button:hover {
    background-color: white;
    color: #FF5F1F;
    box-shadow: 0 12px 16px 0px rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

/* Company info*/
.catalogues-container3 {
    display: flex;
    margin: auto;
    width: 1200px;
    justify-content: space-evenly;
    padding: 20px;
    box-shadow: 0 0 3px black;
    border-radius: 15px;
    background-color: #F2F3F5;
}

h3 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

table {
    border-spacing: 0px;
    width: 1000px;
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: #cecece56;
    box-shadow: 5px 5px 5px #1e1e1e;
    border-style: initial;
    height: 250px;
}

caption {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.Heading2 {
    font-weight: 600;
    padding: 2px 20px;
    margin: 20px 0px;
    box-shadow: 5px 5px 5px #1e1e1e;
    background-color: #FF5F1F;
    padding: 20px;
    width: 500px;
    border-radius: 20px;
    color: #ffffff;
    text-shadow: 3px 3px 3px #000000
}

tr {
    height: 150px;
}

.companyinfo {
    height: 520px;
    background-repeat: no-repeat;
    padding: 0 20px
}

.image {
    box-shadow: 5px 5px 5px #1e1e1e;
    border-radius: 15px;
}

.followus {
    font-weight: 600;
    padding: 2px 20px;
    margin: 20px 0px;
    box-shadow: 5px 5px 5px #1e1e1e;
    background-color: #931fffc5;
    padding: 15px;
    padding-left: 60px;
    border-radius: 20px;
    color: #ffffff;
    text-shadow: 3px 3px 3px #000000;
    background-image: url('Saved Pictures/instagramlogo.png');
    background-repeat: no-repeat;

}

/* payment */
.containerBima form {
    padding: 20px;
    width: 700px;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
}

.containerBima form .row {
    display: flex;
    flex-wrap: wrap;
    gap:15px

}



.containerBima form .row .title {
    font-size: 20px;
    color: #333;
    padding-bottom: 5px;
    text-transform: uppercase;
}

.containerBima form .row .inputBox {
    margin: 15px 0;
}

.containerBima form .row .inputBox span {
    margin-bottom: 10px;
    display: block;
}

.containerBima form .row .inputBox input {
    width: 100%;
    border: 1px solid #ccc;
    padding: 10px 15px;
    font-size: 15px;
}

.containerBima form .row .inputBox input:focus {
    border: 1px solid #000;
}

.containerBima form .row .flex {
    display: flex;
    gap: 15px;
}

.containerBima form .row .flex .inputBox {
    margin-top: 5px;
}

.containerBima form .row .inputBox img {
    height: 34px;
    margin-top: 5px;
    filter: drop-shadow(0 0 1px #000);
}

.containerBima form .submit-btn {
    width: 100%;
    padding: 12px;
    font-size: 17px;
    background: #27ae60;
    color: #fff;
    margin-top: 5px;
    cursor: pointer;
}

.containerBima form .submit-btn:hover {
    background: #2ecc71;
}

.containerBima {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    min-height: 100vh;
    background: linear-gradient(90deg, #FF5F1F 60%, black 40.1%);
}

.containerBima {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    min-height: 100vh;
    background: linear-gradient(90deg, #FF5F1F 60%, black 40.1%);
}