*{
margin: 0;
padding: 0;
font-family: Arial, Helvetica, sans-serif;
box-sizing: border-box;
}

body{
width: 100%;
}

#navigation{
padding: 20px 10%;
display: flex;
justify-content: space-between;
align-items: center;
position: sticky;
background-color: #f3f4f6;
box-shadow: 0 0px 5px black;
width: 100%;
}

#navigation .logo a h1{
color: black;
text-decoration: none;
font-weight: bold;
border-bottom: 4px solid #FF5F1F;
display: inline-block;
font-size: 40px;
letter-spacing: 0.2px;
transition: 0.3s ease;
}

#navigation .logo a h1:hover{
color: #FF5F1F;
}

#navigation #navbar li{
list-style: none;
display: inline-block;
padding: 0 20px;
}

#navigation #navbar li a{
display: flex;
margin: 5px;
color: black;
text-decoration: none;
font-size: 25px;
font-weight: 600;
transition: 0.3s ease;
}

#navigation #navbar li a:hover{
color: #FF5F1F;
}

#navigation #navbar li #active {
color: #FF5F1F;
}


/* catalogs */

#catalogs{
display: flex;
justify-content: center;
align-items: center;
margin: 20px 0px 50px 0px;
flex-direction: column;
}

.Heading{
font-weight: 600;
padding: 2px 20px;
margin: 20px 0px;
}

.catalogs-container{
display: flex;
margin: auto;
width: 1200px;
justify-content: center;
align-items: center;
padding: 20px;
box-shadow: 0 0 3px black;
border-radius: 15px;
background-color: #f5f5f544;
}

.catalogs-box{
position: relative;
padding: 20px;
text-decoration: none;
}

.catalogs-box img{
width: 220px;
height: 220px;
object-fit: contain;
object-position: center;
padding: 20px;
background-color: #f3f4f6;
overflow: hidden;
border: 1px outset black;
transition: all ease 0.3s;
}

.catalogs-box span{
text-align: center;
display: flex;
justify-content: center;
align-items: center;
font-weight: 600;
color: black;
text-transform: uppercase;
}

.catalogs-box:hover img{
transform: scale(1.02);
transition: ease-in 0.2s;
box-shadow: 2px 2px 20px #FF5F1F;
}
