*{
margin: 0;
padding: 0;
font-family: Arial, Helvetica, sans-serif;
box-sizing: border-box;
}

body{
width: 100%;
}

#header{
padding: 20px 80px;
display: flex;
justify-content: space-between;
align-items: center;
position: sticky;
background-color: #f3f4f6;
box-shadow: 0 0px 5px black;
}

#header .logo a h1{
color: black;
text-decoration: none;
font-weight: bold;
border-bottom: 4px solid #FF5F1F;
display: inline-block;
font-size: 45px;
transition: 0.3s ease;
}

#header .logo a h1:hover{
color: #FF5F1F;
}

#header #navbar li{
list-style: none;
display: inline-block;
padding: 0 20px;
}

#header #navbar li a{
display: flex;
margin-left: 50px;
color: black;
text-decoration: none;
font-size: 30px;
font-weight: 600;
transition: 0.3s ease;
}

#header #navbar li a:hover{
color: #FF5F1F;
}
