*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    }
    
    body{
    width: 100%;
    }
    
    #navigation{
    padding: 20px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    background-color: #f3f4f6;
    box-shadow: 0 0px 5px black;
    top: 0;
    left: 0;
    z-index: 999;
    }
    
    .logo a h1{
    color: black;
    text-decoration: none;
    font-weight: bold;
    border-bottom: 4px solid #FF5F1F;
    display: inline-block;
    font-size: 40px;
    letter-spacing: 0.2px;
    transition: 0.3s ease;
    }
    
    .logo a h1:hover{
    color: #FF5F1F;
    }
    
    #navbar li{
    list-style: none;
    display: inline-block;
    padding: 0 20px;
    }
    
    #navbar li a{
    display: flex;
    margin: 5px;
    color: black;
    text-decoration: none;
    font-size: 25px;
    font-weight: 600;
    transition: 0.3s ease;
    }
    
    #navbar li a:hover{
    color: #FF5F1F;
    }
    
    #navbar li #active {
    color: #FF5F1F;
    }

label.mycart{
    color: black;
    font-size: 40px;
    font-weight: bold;
   
    background-color: #FF5F1F;
    border-radius: 15px;
    position: relative;
    top: 100px; left: 235px;
    padding: 35px 450px;
}

label.product1{
    color: black;
    font-size: 40px;
    font-weight: bold;

    background-color: #FF5F1F;
    border-radius: 15px;
    position: relative;
    top: 250px; left: 235px;
    padding: 35px 85px;
}

label.product2{
    color: black;
    font-size: 40px;
    font-weight: bold;
    
    background-color: #FF5F1F;
    border-radius: 15px;
    position: relative;
    top: 250px; left: 260px;
    padding: 35px 85px;
}

label.product3{
    color: black;
    font-size: 40px;
    font-weight: bold;
    
    background-color: #FF5F1F;
    border-radius: 15px;
    position: relative;
    top: 250px; left: 295px;
    padding: 35px 85px;  
}

button{
    color: black;
    font-size: 40px;
    font-weight: bold;

    background-color: #FF5F1F;
    border-radius: 15px;
    position: relative;
    top: 400px; left: 950px;
    padding: 35px 64px;
    transition-duration: 0.4s;
    cursor: pointer;
}
button:hover{
    color: #FF5F1F;
    background-color: black;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
